# EditorConfig is awesome: https://editorconfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,py,go,html,css}]
charset = utf-8

[*.{js,ts,html,css}]
indent_size = 2
indent_style = tab

[*.py]
indent_size = 4
indent_style = space

[*.go]
indent_style = tab
indent_size = 4

[Makefile]
indent_size = 4
indent_style = tab

[*{Dockerfile,.yaml}]
indent_size = 2
indent_style = tab
